/* Site Settings */

/* Typography */
$base-font-size: 16px;
$phone-font-size: 14px;
$primaryfont: sans-serif;

$baseline: $base-font-size * 1.5;

/* Positioning */
$margin-multiplier: 2;
$general-margin: $baseline * $margin-multiplier;

$white: #fcfcfc;
$black: #151515;

$color-link: blue;
